<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sentiment Analysis Using Word Cloud</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--Favicons-->

    <!--Stylesheets-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/prism/prism.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/swiper/swiper-bundle.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/lightbox.css')}}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


  </head>

  <body>
    
  <!-- ***** Header Area Start ***** -->
  <header class="main" id="top">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="{{ url_for('home')}}"><p class="text-white fw-bold fs-2">&#127811; Sentiment Analysis Using Word Cloud</p></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars text-white fs-3"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Home</a></li>
              <li class="nav-item mt-2 mt-lg-0"><a class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100" aria-current="page" href="{{ url_for('home')}}">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  {% block content %}{% endblock %}



    <!-- Scripts -->
    <script src="{{ url_for('static', filename='vendors/popper/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/anchorjs/anchor.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/is/is.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/lodash/lodash.min.js')}}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{{ url_for('static', filename='vendors/prism/prism.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/lightbox.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/getTxt.js')}}"></script>



  </body>
</html>